<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}">
    
    </head>
    <body>
      <h1 class="title">EVENTS</h1>
    <section class="time-line">
      
      <div class="container" style="--dly:1s">
        <div class="text-content">
          <h2>Inaugral Ceremony</h2>
          <p>Guest: Dr. S. NITHYANANDHAM Ph.D <br>CEO Barani Ferrocast pvt ltd</p>
        </div>
      </div>
      <div class="container" style="--dly:2s">
        <div class="text-content">
          <h2>Coming Soon !!!</h2>
          <!-- <p>Guest: Dr. S. NITHYANANDHAM Ph.D <br>CEO Barani Ferrocast pvt ltd</p> -->
        </div>
      </div>
      <div class="container" style="--dly:3s">
        <div class="text-content" >
          <h2>Coming Soon !!!</h2>
          <!-- <p>Guest: Dr. S. NITHYANANDHAM Ph.D <br>CEO Barani Ferrocast pvt ltd</p> -->
        </div>
      </div>
    </section>
    </body>
    </html>